* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 45px;
  font-weight: 600
}

.header-text {
  font-weight: 600;
  color: rgb(85, 85, 85);
}